* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	}

/*.preparatory-background img {
  position: absolute;
  opacity: .3;
}*/


.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(49, 52, 78, 0.6);
	z-index: 10;
}

.header_content_wrap {
	max-width: 1168px;
	margin: 0 auto;
	border-bottom: 1px solid grey;
}

.logo {
	display: inline-block;
	padding: 38px 0 36px;
}

.navigation {
	display: inline-block;
	float: right;
	padding: 41px 0;
}

.header_content_wrap li {
	display: inline-block;
	margin-left: 56px;
}

.header_content_wrap a {
	font: 600 13px 'Raleway', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #a1a2ae;
}

.top {
	background: url(http://j-p-g.net/if/2017/12/19/0398295001513705049.jpg) no-repeat;
	padding-top: 144px;
}

.center {
	max-width: 1168px;
  margin: 0 auto;
}

.text {
	padding: 100px 0 156px;
}

.text h1 {
	font: 700 63px/1.1 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 0 150px;
	letter-spacing: 1px;
}

.text p {
	font: 400 22px/1.5 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
	padding: 27px 80px;
}

.text .button {
	display: block;
	background-color: #e84545;
	border: 0;
  border-radius: 3px;
	width: 200px;
	height: 46px;
	margin: 45px auto 0;
	font: 600 13px 'Raleway', sans-serif;
	color: #fff;
	text-transform: uppercase;
	appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
		
}
.text .button:hover {
  background-color: #712323;
}
.text .button:hover:active,
.text .button:active {
  background-color: #712323;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
}

.main {
	max-width: 1168px;
	height: auto;
	margin: 70px auto 102px;
}
.table {
	display: inline-block;
	width: 33.33%;
	margin-right: -4px;
	padding: 20px 45px;
	vertical-align: top;
}
.table * {
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
}

.table div {
	background: url(http://i.cubeupload.com/eh742c.png) no-repeat;
	display: block;
  margin: 30px auto;
  height: 64px;
  width: 82px;
}

.table .customize {
	background-position: 10px 0;
}

.table:hover .customize {
	background-position: 10px -70px;
}

.table .responsive {
	background-position: -90px 0;
}

.table:hover .responsive {
	background-position: -90px -70px;
}

.table .design {
	background-position: -190px 0;
}

.table:hover .design {
	background-position: -190px -70px;
}

.table .code {
	background-position: -290px 0;
}

.table:hover .code {
	background-position: -290px -70px;
}

.table .ready {
	background-position: -390px 0;
}

.table:hover .ready {
	background-position: -390px -70px;
}

.table .download {
	background-position: -490px 0;
}

.table:hover .download {
	background-position: -490px -70px;
}

.table h2 {
	font: 700 14px 'Raleway', sans-serif;
	color: #47494c;
	text-transform: uppercase;
	padding-bottom: 18px;
}

.table p {
	font: 400 14px/1.5 'Raleway', sans-serif;
	color: #7e8389;
}

.images {
  display: inline-block;
  font-size: 0;
  width: 100%;
  z-index: 10;
}

.images img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  background: #2b2e4a;
}

.images a {
  display: inline-block;
  position: relative;
  height: 350px;
  overflow: hidden;
  width: 25%;
  vertical-align: top;
  outline: 1px white solid;
}

.cover-bg,
.cover-title {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a:hover .cover-bg,
a:hover .cover-title {
  display: block;
}

.cover-bg {
  background: #e84545;
  opacity: .9;
}

.cover-title {
  text-align: center;
  position: absolute;
  top: 43%;
}

.cover-title h3 {
  font: 700 14px/1.7 'Raleway', sans-serif;
  text-transform: uppercase;
	color: #ffffff;
}

.cover-title p {
  font: 400 14px/1.7 'Raleway', sans-serif;
  color: #ffffff;
}

.footer_up {
	background: #3a3e64;
}

.footer_up figure {
	display: inline-block;
	width: 33.33%;
	margin-right: -4px;
	padding: 70px 0 85px;
	vertical-align: top;
	text-align: center;
}

.footer_up .social_networks * {
	display: inline-block;
	margin: 4px auto;
	width: 42px;
	height: 40px;
	background: url(http://i.cubeupload.com/fw4A48.png) no-repeat;
}

.footer_up .facebook {
	background-position: 0 0;
}

.footer_up .twitter {
	background-position: -47px 0;
}

.footer_up .instagram {
	background-position: -94px 0;
}

.footer_up h3 {
	text-transform: uppercase;
	color: #fff;
	font: 600 14px 'Raleway', sans-serif;
	margin-bottom: 14px;
}

.footer_up p {
	font: 400 14px/1.6 'Raleway', sans-serif;
	color: #7e8389;
}

.footer_down {
	background: #313454;
	font: 400 14px/1.3 'Raleway', sans-serif;
}

.footer_down figure {
	text-align: center;
	width: 370px;
	padding: 25px 0 28px; 
	color: #7e8389;
}
.footer_down span {
	color: #ee2412;
	font-size:  18px
}

.footer_down a {
	text-decoration: none;
	color: #fff;
}